.custom-input {
  background-color: black;
  border: 1px solid #5aa79f;
  color: white;
  font-size: 15px;
}

.custom-input:focus {
  background-color: black;
  border: 1px solid #5aa79f;
  color: white;
  font-size: 15px;
}

.custom-input::placeholder {
  color: grey;
  font-size: 15px;
}

.custom-label {
  font-size: 20px;
  color: white;
}

.form-control:focus {
  background-color: black;
}

#blog-role {
  color: grey;
  font-size: 15px;
}

#blog-category {
  color: grey;
  font-size: 15px;
}
